#container{
    background-color: #9ED3D7;
    width: 500px;
    height: 300px;
    border: solid 1px black;
}

#tieude1{
    text-align: center;
    color: red;
    font-weight: bold;
}

.tieude2{
    text-align: center;
    color: green;
}
p{
    font-size: 25px;
    font-style: italic;
    padding-left: 15px;
    margin-bottom: 15px;
}
h2{
    text-align: right;
}